<section class="container mb-4">
    <div class="row setup-content shadow p-3 mb-5 bg-light rounded">
        <div class="container border border-primary margen-sup p-3">
            <h3 class="margen-sup"> Registrar: Organizacion - Miembro Organizacion </h3>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col form-group mb-8">
                <a  routerLink="/nueva-organizacion" class="col-md-8 btn btn-primary btn-lg float-star ">Registrarme como una organizacion</a>
                </div>
                <div class="col form-group mb-8">
                <a routerLink="/alta-miembros" class="col-md-8 btn btn-primary btn-lg float-end ">Registrarme como miembro de una organizacion</a>
                </div>
            </div>
        </div>
    </div>
</section>
