<div class="row setup-content shadow p-3 mb-5 bg-light rounded" id="step-3">
  <h3> Confirmacion </h3>

  <app-mostrar-trayecto [trayecto]="trayecto"> </app-mostrar-trayecto>

  <!-- <div class="container border border-primary margen-sup p-3">
    <h3 class="margen-sup"> Tramo </h3>
    <div class="row">
      <div class="col form-group">
        <label class="form-label"><strong>Nombre del Tramo:</strong> {{tramo?.nombre}} </label>
      </div>
      <div class="col form-group">
        <label for="inputState" class="form-label"><strong>Medio de transporte:</strong> {{tramo.medioDeTransporte?.tipo}} </label>
      </div>
      <div class="row">
      </div>
    </div>
  </div> -->

</div>
