.page-content {
    width: calc(100% - 15rem);
    margin-left: 15rem;
    transition: all 0.4s;
    /* background-color: blue; */
}

.vertical-nav {
    min-width: 14rem;
    width: 14rem;
    height: 100vh;
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.img-card {
    height: 100%;
    width: 100%;
    display: block;
}
